# Wrangle Data

The document shows wrangling of PISA 2012 Dataset.

## Gathering Data

Let's import all required packages.

In [1]:
import numpy as np
import pandas as pd
import requests
import zipfile

In [2]:
# Set this to False to redownload data!
skip_downloading = True

Let's download the dataset. The compressed file size is around 340Mb so it may take a long time!

In [3]:
url = 'https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip'
if not skip_downloading:
    resp = requests.get(url)
    with open('data/' + url.split('/')[-1], mode='wb') as file:
        file.write(resp.content)

Here we place a list of columns that we need for our data exploration.

In [4]:
columns = [
    'CNT', 'ST04Q01', 'ST27Q03', 'ST49Q07', 'WEALTH', 'PV1MATH', 'PV2MATH',
    'PV3MATH', 'PV4MATH', 'PV5MATH', 'PV1READ', 'PV2READ', 'PV3READ',
    'PV4READ', 'PV5READ', 'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE'
]

In [5]:
# Load Data from zip archieve
with open('data/pisa2012.csv.zip', 'rb') as zf:
    zfile = zipfile.ZipFile(zf)
    with zfile.open(zfile.filelist[0].filename) as f:
        df = pd.read_csv(f, encoding='latin-1', usecols=columns)

## Assessing the data

In [6]:
df.head()

,CNT,ST04Q01,ST27Q03,ST49Q07,WEALTH,PV1MATH,PV2MATH,PV3MATH,PV4MATH,PV5MATH,PV1READ,PV2READ,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE
0,Albania,Female,None,Never or rarely,-2.92,406.8469,376.4683,344.5319,321.1637,381.9209,249.5762,254.3420,406.8496,175.7053,218.5981,341.7009,408.8400,348.2283,367.8105,392.9877
1,Albania,Female,Three or more,Never or rarely,0.69,486.1427,464.3325,453.4273,472.9008,476.0165,406.2936,349.8975,400.7334,369.7553,396.7618,548.9929,471.5964,471.5964,443.6218,454.8116
2,Albania,Female,Two,Never or rarely,-0.23,533.2684,481.0796,489.6479,490.4269,533.2684,401.2100,404.3872,387.7067,431.3938,401.2100,499.6643,428.7952,492.2044,512.7191,499.6643
3,Albania,Female,One,NaN,-1.17,412.2215,498.6836,415.3373,466.7472,454.2842,547.3630,481.4353,461.5776,425.0393,471.9036,438.6796,481.5740,448.9370,474.1141,426.5573
4,Albania,Female,Two,Sometimes,-1.17,381.9209,328.1742,403.7311,418.5309,395.1628,311.7707,141.7883,293.5015,272.8495,260.1405,361.5628,275.7740,372.7527,403.5248,422.1746

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Data columns (total 20 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   CNT      485490 non-null  object
 1   ST04Q01  485490 non-null  object
 2   ST27Q03  473459 non-null  object
 3   ST49Q07  312425 non-null  object
 4   WEALTH   479597 non-null  float64
 5   PV1MATH  485490 non-null  float64
 6   PV2MATH  485490 non-null  float64
 7   PV3MATH  485490 non-null  float64
 8   PV4MATH  485490 non-null  float64
 9   PV5MATH  485490 non-null  float64
 10  PV1READ  485490 non-null  float64
 11  PV2READ  485490 non-null  float64
 12  PV3READ  485490 non-null  float64
 13  PV4READ  485490 non-null  float64
 14  PV5READ  485490 non-null  float64
 15  PV1SCIE  485490 non-null  float64
 16  PV2SCIE  485490 non-null  float64
 17  PV3SCIE  485490 non-null  float64
 18  PV4SCIE  485490 non-null  float64
 19  PV5SCIE  485490 non-null  float64
dtypes: float64(16), object(4)
memory usage: 74.1+ MB

In [8]:
df.duplicated().sum()

0

In [9]:
df.CNT.unique()

array(['Albania', 'United Arab Emirates', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom', 'Greece', 'Hong Kong-China', 'Croatia',
       'Hungary', 'Indonesia', 'Ireland', 'Iceland', 'Israel', 'Italy',
       'Jordan', 'Japan', 'Kazakhstan', 'Korea', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao-China', 'Mexico',
       'Montenegro', 'Malaysia', 'Netherlands', 'Norway', 'New Zealand',
       'Peru', 'Poland', 'Portugal', 'Qatar', 'China-Shanghai',
       'Perm(Russian Federation)', 'Florida (USA)', 'Connecticut (USA)',
       'Massachusetts (USA)', 'Romania', 'Russian Federation',
       'Singapore', 'Serbia', 'Slovak Republic', 'Slovenia', 'Sweden',
       'Chinese Taipei', 'Thailand', 'Tunisia', 'Turkey', 'Uruguay',
       'United States of America', 'Vietnam'], dtype=object)

In [10]:
df.ST04Q01.unique()

array(['Female', 'Male'], dtype=object)

In [11]:
df.ST27Q03.unique()

array(['None', 'Three or more', 'Two', 'One', nan], dtype=object)

In [12]:
df.ST49Q07.unique()

array(['Never or rarely', nan, 'Sometimes', 'Often',
       'Always or almost always'], dtype=object)

In [13]:
df.describe()

,WEALTH,PV1MATH,PV2MATH,PV3MATH,PV4MATH,PV5MATH,PV1READ,PV2READ,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE
count,479597.00000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.00000,485490.000000
mean,-0.33701,469.621653,469.648358,469.648930,469.641832,469.695396,472.004640,472.068052,472.022059,471.926562,472.013506,475.769824,475.813674,475.851549,475.78524,475.820184
std,1.21530,103.265391,103.382077,103.407631,103.392286,103.419170,102.505523,102.626198,102.640489,102.576066,102.659989,101.464426,101.514649,101.495072,101.51220,101.566347
min,-6.65000,19.792800,6.473000,42.226200,24.622200,37.085200,0.083400,0.703500,0.703500,4.134400,2.307400,2.648300,2.834800,11.879900,8.42970,17.754600
25%,-1.04000,395.318600,395.318600,395.240700,395.396500,395.240700,403.600700,403.360100,403.360100,403.354600,403.360100,404.457300,404.457300,404.550500,404.45730,404.457300
50%,-0.30000,466.201900,466.124000,466.201900,466.279800,466.435600,475.455000,475.535200,475.455000,475.535200,475.535200,475.699400,475.606100,475.699400,475.97910,475.885900
75%,0.43000,541.057800,541.447300,541.291500,541.447300,541.447300,544.502500,544.503500,544.503500,544.502500,544.503500,547.780700,547.873900,547.967200,547.78070,547.780700
max,3.25000,962.229300,957.010400,935.745400,943.456900,907.625800,904.802600,881.239200,884.447000,881.159000,901.608600,903.338300,900.540800,867.624000,926.55730,880.958600

### Quality issues

* Incomprehensible column names
* Cities and states instead of country names

### Tidiness issues

* Combine plausible scores

## Cleaning data

Create copy of the DataFrame.

In [14]:
df_clean = df.copy()

### Incomprehensible column names

#### Code

In [15]:
df_clean.rename(columns={
    'CNT': 'Country',
    'ST04Q01': 'Gender',
    'ST27Q03': 'Number of Computers',
    'ST49Q07': 'Programming Rate',
    'WEALTH': 'Wealth Index'
},
                inplace=True)

#### Test

In [16]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Country              485490 non-null  object
 1   Gender               485490 non-null  object
 2   Number of Computers  473459 non-null  object
 3   Programming Rate     312425 non-null  object
 4   Wealth Index         479597 non-null  float64
 5   PV1MATH              485490 non-null  float64
 6   PV2MATH              485490 non-null  float64
 7   PV3MATH              485490 non-null  float64
 8   PV4MATH              485490 non-null  float64
 9   PV5MATH              485490 non-null  float64
 10  PV1READ              485490 non-null  float64
 11  PV2READ              485490 non-null  float64
 12  PV3READ              485490 non-null  float64
 13  PV4READ              485490 non-null  float64
 14  PV5READ              485490 non-null  float64
 15  PV1SCIE              485490 non-null  float64
 16  PV2SCIE              485490 non-null  float64
 17  PV3SCIE              485490 non-null  float64
 18  PV4SCIE              485490 non-null  float64
 19  PV5SCIE              485490 non-null  float64
dtypes: float64(16), object(4)
memory usage: 74.1+ MB

### Cities and states instead of country names

#### Code

In [17]:
df_clean['Country'].replace(
    ['Florida (USA)', 'Connecticut (USA)', 'Massachusetts (USA)'],
    'United States of America',
    inplace=True)

df_clean['Country'].replace(
    ['Hong Kong-China', 'Macao-China', 'China-Shanghai', 'Chinese Taipei'],
    'China',
    inplace=True)

df_clean['Country'].replace(['Perm(Russian Federation)'],
                            'Russian Federation',
                            inplace=True)

#### Test

In [18]:
df_clean['Country'].unique()

array(['Albania', 'United Arab Emirates', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom', 'Greece', 'China', 'Croatia', 'Hungary',
       'Indonesia', 'Ireland', 'Iceland', 'Israel', 'Italy', 'Jordan',
       'Japan', 'Kazakhstan', 'Korea', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Latvia', 'Mexico', 'Montenegro', 'Malaysia',
       'Netherlands', 'Norway', 'New Zealand', 'Peru', 'Poland',
       'Portugal', 'Qatar', 'Russian Federation',
       'United States of America', 'Romania', 'Singapore', 'Serbia',
       'Slovak Republic', 'Slovenia', 'Sweden', 'Thailand', 'Tunisia',
       'Turkey', 'Uruguay', 'Vietnam'], dtype=object)

### Combine plausible scores

#### Code

In [19]:
# Calculate mean score out of 5
df_clean['Math'] = df_clean[[
    'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH'
]].mean(axis=1)

df_clean['Reading'] = df_clean[[
    'PV1READ', 'PV2READ', 'PV3READ', 'PV4READ', 'PV5READ'
]].mean(axis=1)

df_clean['Science'] = df_clean[[
    'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE'
]].mean(axis=1)

# Filter out columns
df_clean = df_clean[[
    'Country', 'Gender', 'Number of Computers', 'Programming Rate', 'Math',
    'Reading', 'Science', 'Wealth Index'
]]

#### Test

In [20]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Country              485490 non-null  object
 1   Gender               485490 non-null  object
 2   Number of Computers  473459 non-null  object
 3   Programming Rate     312425 non-null  object
 4   Math                 485490 non-null  float64
 5   Reading              485490 non-null  float64
 6   Science              485490 non-null  float64
 7   Wealth Index         479597 non-null  float64
dtypes: float64(4), object(4)
memory usage: 29.6+ MB

In [21]:
df_clean.describe()

                Math        Reading        Science  Wealth Index
count  485490.000000  485490.000000  485490.000000  479597.00000
mean      469.651234     472.006964     475.808094      -0.33701
std       100.786610      98.863310      97.998470       1.21530
min        54.767080       6.445400      25.158540      -6.65000
25%       396.019620     405.044200     405.762800      -1.04000
50%       465.734520     475.477980     475.512860      -0.30000
75%       540.123060     542.831195     546.381920       0.43000
max       903.107960     849.359740     857.832900       3.25000

## Store the clean DataFrame

In [22]:
df_clean.to_csv('data/pisa2012_cleaned.csv')